name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - edited
    branches:
      - main

jobs:
  test:
    if: github.event.pull_request.draft == false
    name: Grouper Tests (python)
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9, 3.12]

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install environment
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: environment.yml
        create-args: >-
          python=${{ matrix.python-version }}

    - name: Activate env
      run: micromamba activate test-env

    - name: List nauty headers
      run: ls /home/runner/micromamba/envs/test-env/include/nauty
  
    - name: List libraries in test-env
      run: ls /home/runner/micromamba/envs/test-env/lib | grep omp

    - name: Install package
      run: micromamba run -n test-env python setup.py build_ext --inplace;micromamba run -n test-env pip install .

    - name: Run tests with pytest
      run: micromamba run -n test-env pytest Grouper/tests
